{% extends "base.html" %}
{% from "macros/markets.html" import markets %}

{% block title %}{{ currency.name }}{% endblock %}

{% block css %}
  {{ super() }}
{% endblock %}

{% block scripts %}
  {{ super() }}
  <script src="https://code.highcharts.com/stock/highstock.js"></script>
  <script src="https://code.highcharts.com/stock/modules/exporting.js"></script>
  <script src="{{ url_for('static', filename='scripts/charts.js') }}"></script>
{% endblock %}

{% block content %}
<div class="page-std">
  <h1>{{ currency.name }}</h1>
  <h4><a href="{{ url_for('main.currencies') }}">Back to Currencies</a></h4>
  <div class="col-md-12">
  {{ markets(market) }}
  </div>
  <ul>
    <li><b>Origin Date:</b> {% if currency.ipo_date %}{{ currency.ipo_date.strftime('%m/%d/%Y') }}{% endif %}</li>
    <li><b>Total Coins:</b> {% if currency.coin_limit %}{{ currency.coin_limit }}{% endif %}</li>
  </ul>
  <div>
    <div id="container"></div>
  </div>
</div>

<!--<script>-->
  <!--$.get("{{ url_for('api_v1.read_markets_for_product', product_id=user_product.id) }}", function(data, status){-->
        <!--line(-->
            <!--data, "container", "{{ currency.name }} Market on GDAX",-->
            <!--"Simplified Market Structure", "{{ currency.name }} price in USD"-->
        <!--)-->
    <!--});-->
<!--</script>-->

<script>
  $.getJSON("{{ url_for('api_v1.read_hs_prices', product_id=8, exchange_id=2, source_id=2, startDate='2011-1-1') }}", function (data) {
    // Create the chart
    Highcharts.stockChart('container', {

        rangeSelector: {
            selected: 1
        },

        title: {
            text: '{{ currency.name }} Price in USD',
            align: 'left'
        },

        series: [{
            name: '{{ currency.symbol }}',
            data: data,
            tooltip: {
                valueDecimals: 2
            },
            color: '#F66733'
        }]
    });
});
</script>
{% endblock %}