{% extends "base.html" %}
{% from "macros/wallets.html" import wallets %}

{% block title %}
Currencies
{% endblock %}

{% block css %}
  {{ super() }}
{% endblock %}

{% block content %}
<div class="page-std">
  <h1>Currency Page</h1>
      {% if currencies %}
      <h4>Currency Comparison</h4>
      <table class="table table-striped table-responsive">
        <thead><th>Currency</th><th>IPO Date</th><th>Coin Limit</th></thead>
        <tbody>
          {% for currency in currencies %}
            <tr>
              <td><a href="{{ url_for('main.currency', currency_id=currency.id) }}">{{ currency.name }}</a></td>
              <td>{{ currency.ipo_date.strftime('%m/%d/%Y') }}</td>
              <td>{{ "{:,d}".format(currency.coin_limit) }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      <a href="{{ url_for('main.add_currency') }}">Add Currency</a>
    {% else %}
      <h4>Welcome to {{ user.first_name }}'s Page, you creepy fuck!</h4>
    {% endif %}
</div>
{% endblock %}