<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">

      {% block css %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='CSS/coinpl.css') }}">
      {% endblock %}

      {% block scripts %}
        <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>-->
        <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
      {% endblock %}
      {% import "bootstrap/wtf.html" as wtf %}

    <title>{% block title %}{% endblock %}</title>
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="{{ url_for('main.index') }}">CoinPL</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Manage<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="{{ url_for('main.user_page', user_name=current_user.alias) }}">Profile</a></li>
              <li><a href="{{ url_for('main.currencies') }}">Currencies</a></li>
              <li><a href="{{ url_for('main.exchanges') }}">Exchanges</a></li>
              <li><a href="{{ url_for('main.wallets') }}">Wallets</a></li>
            </ul>
          </li>
          {% if current_user.is_authenticated %}
          <li><a href="{{ url_for('main.user_page', user_name=current_user.alias) }}">Profile</a></li>
          <li><a href="{{ url_for('auth.logout') }}"><span class="glyphicon glyphicon-log-out"></span></a></li>
          {% else %}
            <li><a href="{{ url_for('auth.login') }}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            <li><a href="{{ url_for('auth.sign_up') }}"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
          {% endif %}
        </ul>
      </div>
    </div>
</nav>
<div class="main">
{% block content %}{% endblock %}
</div>
</body>
</html>